PORT=8000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/screencast?retryWrites=true&w=majority
JWT_SECRET=screencast_secret_key_123
GOOGLE_CLIENT_ID=74972592174-is6e5qafni7lr7bv65tie364c0o8ta2r.apps.googleusercontent.com
FRONTEND_URL=https://your-app.netlify.app
